# Environment & Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc

# Database files
*.db
*.sqlite
*.sqlite3
*.db-journal
sqlite_vardigo.db
backend/sqlite_vardigo.db

# IDEs & Editors
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart build artifacts & caches
.dart_tool/
.packages
.pub/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/
**/build/
ephemeral/
**/ios/Flutter/.last_build_id
**/android/.gradle
**/android/captures/
**/android/app/debug
**/android/app/profile
**/android/app/release

# Operating System files
.DS_Store
Thumbs.db
